@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
      sans-serif;

    /* 추가 */
    overflow: hidden; /* 전체 스크롤 막기 */
    touch-action: none; /* 전체 터치 드래그 막기 */
  }

  #root {
    @apply max-w-[430px] mx-auto min-h-screen bg-white;
  }

  textarea {
    overflow-y: auto !important; /* 세로 스크롤 허용 */
    touch-action: auto !important; /* 드래그 허용 */
    -webkit-overflow-scrolling: touch;
  }
}
